<!-- The ion-content tag serves as the main content area for the page. -->
<ion-content>
  <!-- Main container for the challenges tab -->
  <div class="tab tab-challenges bg-image">
    
    <!-- Top Image Section -->
    <div class="top-image">
      <img src="../../assets/images/tab-1-icon.png" alt="Top icon" />
    </div>
    
    <!-- Bottom Images Section -->
    <div class="bottom-images">
      
      <!-- Bottom Image Container 1 -->
      <div class="bottom-image-container">
        <img src="../../assets/images/aws_000.png" alt="january icon" />
        <p class="image-text">January</p>
      </div>
      
      <!-- Bottom Image Container 2 -->
      <div class="bottom-image-container">
        <img src="../../assets/images/aws_000.png" alt="march icon" />
        <p class="image-text">March</p>
      </div>
      
      <!-- Bottom Image Container 3 -->
      <div class="bottom-image-container">
        <img src="../../assets/images/aws_000.png" alt="october icon" />
        <p class="image-text">October</p>
      </div>
    </div>
  </div>
</ion-content>
