<ion-tabs>
  <ion-tab-bar slot="bottom">

     <!-- Tab 1: Challenges -->
    <ion-tab-button tab="challenges" href="/tabs/challenges">
      <img src="../../assets/images/event.png" alt="Challenges Tab" aria-label="Challenges Tab"/>
      <ion-label>Challenges</ion-label>
    </ion-tab-button>

    <!-- Tab 2: Results -->
    <ion-tab-button tab="results" href="/tabs/results">
      <img src="../../assets/images/statistics.png" alt="Results Tab" aria-label="Results Tab"/>
      <ion-label>Results</ion-label>
    </ion-tab-button>

    <!-- Tab 3: Info -->
    <ion-tab-button tab="info" href="/tabs/info">
      <img src="../../assets/images/info.png" alt="Info Tab" aria-label="Info Tab"/>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
