<!-- The ion-content tag serves as the main content area for the page. -->
<ion-content>
  <!-- Main container for the infos tab -->
  <div class="tab tab-infos">
    <!-- Heading Text -->
    <ion-label>Infos</ion-label>

    <!-- Main content paragraph -->
    <p>
      <strong>Climate protection</strong> is essential to ensure a sustainable future for our planet. 
      <strong>Rising temperatures, extreme weather</strong> events, and biodiversity loss threaten ecosystems, 
      livelihoods, and global stability. By taking <strong>action</strong> now, we can preserve vital resources, 
      protect communities, and create a healthier environment for future generations.
    </p>
  </div>
</ion-content>
